@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Quicksand&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a020a;
}

.section_single {
    width: 100%;
    height: auto;
}

.section_single .bar_top {
    width: 100%;
    height: 7px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

.section_single .area_section {
    margin: auto;
    max-width: 635px;
    width: 100%;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_single .area_section .title h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.section_single .area_section .area_field {
    width: inherit;
    padding-bottom: 41px;
}

.section_single .area_section .area_field form .row_input_search {
    position: relative;
}

.section_single .area_section .area_field form .row_input_search input[type="text"] {
    width: 100%;
    height: 60px;
    padding: 20px;
    border-radius: 50px;
    color: #333;
    border: 0;
    outline: 0;
    font-size: 17px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border: 1px solid #ccc;
}

.section_single .area_section .area_field form .row_input_search button {
    position: absolute;
    right: 0;
    color: #000;
    background-color: #ccc;
    border-radius: 0px 50px 50px 0px;
    border: 0;
    font-size: 20px;
    padding: 10px 30px;
    height: 60px;
    cursor: pointer;
}

.section_single .area_section .area_termos_de_uso {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section_single .area_section .area_termos_de_uso .right_side span {
    color: #fff;
    font-size: 15px;
}

.section_single .area_section .area_termos_de_uso .right_side span strong {
    font-weight: 600;
    color: #ccc;
    cursor: pointer;
    text-transform: uppercase;
}

.section_single .area_section .area_modal_termos_de_uso {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.section_single .area_section .area_modal_termos_de_uso .modal {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}

.section_single .area_section .area_modal_termos_de_uso .modal .btn_close_modal {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ccc;
    padding: 3px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.section_single .area_section .area_modal_termos_de_uso .modal .content_modal {
    padding: 40px 20px;
    color: #333;
    font-size: 16px;
}

.section_single .area_section .area_modal_termos_de_uso .modal .content_modal #single_paragraph {
    color: #444;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.section_single .area_section .area_loading {
    color: #fff;
    display: none;
    padding-bottom: 20px;
}

.section_single .area_section .area_loading .loader {
    width: 30px;
    height: 30px;
    border: 4px solid #fff;
    border-top-color: #333;
    border-radius: 50%;
    animation: is-rotating 1s infinite;
}

.section_single .area_section .area_result {
    width: 100%;
}

.section_single .area_section .area_resultado_error {
    color: #fff;
}

.section_single .area_section .area_result .item_result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    position: relative;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: .7s;
}

.section_single .area_section .area_result .item_result:hover::after {
    content: "Copiar";
    background-color: #ccc;
    color: #000;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: -20px;
    right: 0;
}

.section_single .area_section .area_result .item_result .left span {
    display: block;
    font-size: 17px;
    color: #ccc;
}

.section_single .area_section .area_result .item_result .left span strong {
    color: #fff;
}

.section_single .area_section .area_result .item_result .right i {
    font-size: 25px;
    transition: .5s;
    color: #ccc;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

@media (max-width: 650px) {
    .section_single .area_section {
        padding: 100px 20px;
    }
    .section_single .area_section .area_result .item_result .left span {
        width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media (max-width: 530px) {
    .section_single .area_section .area_modal_termos_de_uso {
        padding: 0 20px;
    }
}

@media (max-width: 425px) {
    .section_single .area_section .area_resultado_error h3 {
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 375px) {
    .section_single .area_section .area_termos_de_uso .right_side span {
        font-size: 12px;
    }
    .section_single .area_section .area_result .item_result .left span {
        width: 250px;
    }
}

@media (max-width: 320px) {
    .section_single .area_section .title h1 {
        font-size: 32px;
    }
    .section_single .area_section .area_field form .row_input_search button {
        padding: 10px 20px;
    }
}